.base {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 32px 8px;

  .section {
    .title {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-weight: bold;
      gap: 4px;
      line-height: 32px;
    }
    .body {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
    }
  }
  .section.closed .body {
    display: none;
  }
  .link {
    border-radius: var(--theme-border-radius);
    color: var(--theme-stage-on);
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0 8px;
  }
  .link.current {
    background-color: var(--theme-stage-strong);
    color: var(--theme-stage-on-strong);
  }
}
